*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'DynaPuff', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-weight: 400;
  font-stretch: 80%;
  font-style: normal;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: clamp(12px, 4vw, 20px);
  scrollbar-width: thin;
  scrollbar-color: #f8d24b #1a1d22;
  background: #1e1e2f;
  color: #fff;
  overflow-y: auto;
}


a {
  color: #ffd85c;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 200ms;
  animation-timing-function: ease;
}
